# Maven build directory
allure-results/
target/

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# VS Code
.vscode/

# Logs and OS-specific files
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Test reports
*.html
*.xml

# Selenium screenshots or other output artifacts
screenshots/
reports/
extent-output/
*.png

# Jenkins workspace (if accidentally added)
.jenkins/

# Cache
.cache/

# Ignore everything inside test-output/
test-output/*

# But do NOT ignore the folder itself
!test-output/.gitkeep
